.hidden, pre{
	display:none;
}

img.plus{
	float:left;
	height:30px;
	width:30px;
	cursor:pointer;
}

.rotated{
	-moz-transform:rotate(45deg);
}

.rotate{
	-moz-animation: rotate steps(16) .3s 1; 
}

@-moz-keyframes rotate {
	from { -moz-transform:rotate(0deg) }
    to { -moz-transform:rotate(45deg) }
}

.rotateBack{
	-moz-animation: rotateBack steps(16) .3s 1; 
}

@-moz-keyframes rotateBack {
    from { -moz-transform:rotate(45deg) }
    to { -moz-transform:rotate(0deg) }
}

.section{
	max-height:50px;
	overflow:hidden;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
	.div{
		padding: 0;
		margin: 0 auto;
		width:100%;
	}
}