.story{margin: 0 auto;width:900px;background:#ffffff;}

					h1,h2,h3,h4,h4,h6{font-family:Arial;color:#303030;font-size:33pt;}

					p{font-family:Palatino Linotype;color:#000000;font-size:15pt;text-indent:2em;line-height:120%;}

					div{margin-left:20%;margin-right:20%;margin-top:50px;margin-bottom:50px;}

					img{width:50;margin-left:25;}