body{
	background:#fcfcf7;
}

.story{margin: 0 auto;width:1000px;}

					h1,h2,h3,h4,h4,h6{font-family:Trebuchet MS;color:#333333;font-size:28pt;}

					p, .story *{font-family:Palatino Linotype;color:#000000;font-size:15pt;text-indent:2em;line-height:120%;padding-top:0pt;}

					div{margin-left:12%;margin-right:12%;margin-top:50px;margin-bottom:50px;}

					img{width:55;margin-left:22.5;}